@import "~bootstrap/scss/bootstrap";

.ListGroup:hover{
    cursor: pointer;
}

.ListGroup{
    overflow: scroll;
    height: 500px;
}

.diff-date{
    display: flex;
    justify-content: space-between;
}
