$font-family: Helvetica,
sans-serif;
$color: #0f50ff80;
$color-font : aliceblue;

header {
    color: $color-font;
    background-color: $color;
    font: $font-family;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

nav {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
